footer {
    z-index: 1;
    background-image: url('/assets/img/footer-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    max-width: 100%;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $dark, $alpha: .9);
        top: 0;
        z-index: -1;
    }

    a { 
        color: $white;
        font-weight: 300;
    }
}