.projects {
    position: relative;
    padding: 2rem 0 0;
    @include media-breakpoint-up(md) {
        padding: 5.5rem 0;
    }


    &__header {
        padding-bottom: 2.5rem;
        @include media-breakpoint-up(md) {
            padding-bottom: 5rem;
        }
    }

    &__link {
        &:hover {
            transform: rotate(1.2) scale(1.3);
        }

        &::after {
            position: absolute;
            content: "";
            height: 1px;
            background-color: $dark;
            width: 3.5rem;
            left: 0;
            bottom: -3px;

        }

        &::before {
            position: absolute;
            content: "";
            height: 1px;
            background-color: $dark;
            width: 3.5rem;
            right: 0;
            bottom: -6px;
        }
    }

 
}