.whatwedo {
    position: relative;
    padding: 2rem 0 0;
    @include media-breakpoint-up(md) {
        padding: 5.5rem 0 0;
    }

    &__header {
        margin-bottom: 2.5rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 5rem;
        }
    }

    &__card {
        margin-bottom: 1.156rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 2.3125rem;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 4.625rem;
        }

       &::after {
           content: "";
           position: absolute;
           top: 0; 
           right: 0;
           height: 1px;
           width: 220px;
           background-color: $gray-200;
           transform: translate(-50%, 0);
       } 
    }

    &__card-bg {
        background-color: $gray-200;
        padding: 2rem 0;
        transition: 200ms ease-in-out;

        &:hover {
            box-shadow: 7px 7px 11px rgba($color: $black, $alpha: .1);
            transform: scale(1.02);
        }
    }
}