// Variables
$font-family-headings: 'proxima-nova-extra-condensed', sans-serif;
$h1weight: 800;
$section-bg: $gray-200;
$body-weight: 300;
$padding-down: 3rem;
$padding-up: 3rem;

.pd { 
    padding-bottom: 1rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $padding-down; 
    }

}
.pu {
    padding-top: 1rem;

    @include media-breakpoint-up(md) {
        padding-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
        padding-top: $padding-up; 
    }
}

